:root {
  --primary-background-color: rgb(141, 136, 136);
  --secondary-background-color: rgba(255, 255, 255, 0.8);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(87, 97, 240, 0.87);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

.main_wrapper {
  position: relative;
}

.nav_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 3rem;
  width: min(700px, 90vw);
  border-radius: 8px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.nav_wrapper:hover {
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.nav_wrapper:hover .slider-track {
  opacity: 1;
}

.navbar_wrapper {
  width: min(600px, 85vw);
}

.slider-track {
  position: relative;
  height: 4px;
  background: var(--primary-background-color);
  border-radius: 2px;
  opacity: 0.7;
  transition: opacity 0.2s, left 0.2s ease;
}

.slider-track::before {
  content: "";
  position: absolute;
  inset: -12px;
}

.slider-progress {
  position: absolute;
  height: 4px;
  width: 0%;
  background: linear-gradient(
    90deg,
    oklch(from currentColor calc(l - 0.3) c h),
    currentColor
  );
  border-radius: 2px;
  transition: width 0.2s ease, width 0.18s cubic-bezier(.4,1.4,.6,1);
}

.slider-stop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background: currentColor;
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* pointer-events: none; */
  /* background: var(--secondary-background-color); */
}

.slider-stop img {
  width: auto;
  height: 100%;
   object-fit: fill;
  border-radius: 50%;
}

.slider-stop.active {
  background: currentColor;
  pointer-events: none;
}

.slider-handle {
  anchor-name: --slider-handle;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 2rem;
  height: 2rem;

  border-radius: 50%;
  background: currentColor;

  box-shadow:
    0 0 0 4px oklch(from currentColor calc(l + 0.2) c h / 0.2),
    0 0 12px oklch(from currentColor calc(l + 0.8) c h / 0.2);

  cursor: grab;
  transition: transform 0.15s, left 0.18s cubic-bezier(.4,1.4,.6,1);
  pointer-events: auto;
}

.slider-handle::before {
  content: "";
  position: absolute;
  inset: -12px;
}

.slider-handle:active {
  transform: translate(-50%, -50%) scale(1.2);
}

.slider-tooltip {
  position: absolute;
  position-anchor: --slider-handle;
  top: anchor(top);
  left: anchor(center);

  translate: -50% -120%;

  background: white;
  color: currentColor;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.map_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map-marker {
  width: 14px;
  height: 14px;

  background: currentColor;
  border-radius: 50%;

  opacity: 0;
  transform: scale(0.4);

  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.map-marker.visible {
  opacity: 1;
  transform: scale(1);
}

/* #map {
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.8);
} */

#map::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-background-color);
  pointer-events: none;
}

.glassy {
  background-color: oklch(from currentColor calc(l + 0.8) c h / 0.2);
  backdrop-filter: blur(1px);
}

.card_wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  top: 0;
  z-index: 5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 1.5em 1.5em 1.5em;
}

.page {
  /* align-items: center; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .nav-button {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 0.6em 1.2em;
  font-size: 0;
  cursor: pointer;
  transition:
    border-color 0.25s,
    color 0.25s,
    text-decoration 0.25s;
}
.nav-button:hover {
  border-color: #646cff;
  color: #646cff;
  text-decoration: underline;
}
.nav-button:focus,
.nav-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media screen and (min-width: 768px) {
  /* .nav_wrapper {
    position: fixed;
    top: 0;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: min(600px, 90vw);
    z-index: 10;
  } */

  .card_wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    z-index: 5;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 1.5em 1.5em 1.5em;
  }

  /* .slider-tooltip {
    position: absolute;
    position-anchor: --slider-handle;
    top: anchor(bottom);
    left: anchor(center);
     translate: -50% 20%;
  } */
}

@media (pointer: coarse) {
  .slider-handle {
    width: 28px;
    height: 28px;
  }
}

/* @media screen and (min-width: 1024px) {
  .navbar_wrapper {
    min-width: 40em;
  }

  .nav-button {
    font-size: 1.1em;
    gap: 0.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    color: var(--primary-link-color);
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
